.cards__button {
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  margin-right: 108px;
}

.cards__button:hover {
  cursor: pointer;
}

.cards__button:last-child {
  margin-right: 0;
}