.footer__item {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}

.footer__item:nth-child(2) {
  background-color: #F16D7F;
}

.footer__item:hover {
  background-color: #F16D7F;
}